html,
body {
    color: green;
    cursor: none !important; /* hide real cursor */
    height: 90%;
    width: 90%;
    background-image: url("/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
* {
    cursor: none !important;
}

/* Animation */
@keyframes starAnimation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(0.4);
    }
    50% {
        transform: translate(-50%, -50%) rotate(180deg) scale(0.6);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) scale(0.4);
    }
}

@keyframes rainbow {
    0% {
        fill: #ff0000;
    }
    25% {
        fill: #ffa500;
    }
    37.5% {
        fill: #ffff00;
    }
    50% {
        fill: #7fff00;
    }
    62.5% {
        fill: #00ffff;
    }
    75% {
        fill: #0000ff;
    }
    87.5% {
        fill: #9932cc;
    }
    100% {
        fill: #ff1493;
    }
}

/* Custom cursor */
.cursor {
    position: fixed;
    width: 70px;
    height: 70px;
    pointer-events: none;
    z-index: 100;
    transform-origin: center center;
    animation:
        starAnimation 2s linear infinite,
        rainbow 5s linear infinite;

    stroke: black;
    stroke-width: 5px;
}

.cursor svg {
    width: 100%;
    height: 100%;
}

#dodo-corner,
#blahaj-corner {
    position: fixed;
    bottom: 0;
    height: auto;
}

#dodo-corner {
    width: 30vw;
    right: 0;
    max-width:300px;
}

#blahaj-corner {
    width: 40vw;
    left: 0;
    max-width:400px;
}

